#destaque .container {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 125px 206px 66px;
  }
  #destaque .container div {
    display: flex;
    flex-direction: column;
  
    font-size: 27px;
    line-height: 31px;
  }
  
  #destaque .container div h1 {
    font-weight: 700;
    font-size: 60px;
    line-height: 69px;
  
    color: #FF4081;
    max-width: 488px;
    margin-bottom: 19px;
  }
  
  #destaque .container div span {
    color: #555555;
    max-width: 462px;
    margin-bottom: 38px;
  }
  
  #destaque .container div a {
    border: 2px solid #FF4081;
    border-radius: 62px;
    width: fit-content;
    color: #FF4081;
    padding: 8px 26px;
    text-decoration: none;
  }